<div class="container">
    <form [formGroup]="form" (ngSubmit)="send()">
        <div class="mb-3">
          <label for="exampleInputUserName1" class="form-label">User Name</label>
          <input formControlName="UserName" type="text" class="form-control" 
          [ngClass]="{
            'is-valid': form.controls['UserName'].valid, 
            'is-invalid': form.controls['UserName'].invalid && form.controls['UserName'].dirty
            }">
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            <!-- Please UserName Like : Admin&commat;gmail.com . -->
             @if(form.controls['UserName'].hasError("required")){
                 <span>Please Provide Valid UserName</span>
             }
             @else if(form.controls['UserName'].hasError("pattern")) {
                 <span>UserName must have 11 Letter atleast.</span>
             }

          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input formControlName="Password" type="password" class="form-control" 
          [ngClass]="{
            'is-valid': form.controls['Password'].valid, 
            'is-invalid': form.controls['Password'].invalid && form.controls['Password'].dirty
            }">
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please Password contains 8 letters atlest and has Lower case and numbers.
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
      </form>
</div>
